@model IEnumerable<EziBuy.Models.ProductCategory>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <br /><br />
        @*this render method is used to diplay the carousel. First call the Carousel method in
            Home controller which pass the CarouselDetail list to Partial view and then call the
            Partial View (~/Views/Shared/CarouselView.cshtml)
            that is define under shared folder*@

        @{
            Html.RenderAction("Carousel", "Home");
        }

        @{
            Html.RenderAction("CategoriesList", "Home");
        }
    </div>
</div>

