/*Carsouel*/
.carousel .carousel-inner .item img {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:688px) {
    .carousel-item > img {
        max-height: 146px;
    }
}

.carousel .carousel-inner .item h4 {
    text-align: center;
}

/*Product image zoom*/
.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

/*Product detail*/
.details {
    float: right;
    width: 45%;
    position: relative;
}

.product-container {
    margin-top: 20px !important;
}

@media screen and (max-width: 768px) {
    .details {
        width: 100% !important;
        float: left !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .details {
        width: 50% !important;
        /*float: left !important;*/
    }
}





