@model int
@{
    ViewBag.Title = "Complete";
}

<div class="registration-form row">
    <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="form-title col-md-offset-2">Checkout Complete</div>
        <div class="col-md-offset-2">
            <h1>Thanks for your order! Your order number is: @Model</h1> 
        </div>
    </div>
</div>

