<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/452e4b7b-72ca-46dc-96c7-cd68bb2f8fbb/resourcegroups/EziBuy20200803065008ResourceGroup/providers/Microsoft.Web/sites/EziBuy20200803072457</ResourceId>
    <ResourceGroup>EziBuy20200803065008ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ezibuy20200803072457.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ezibuy20200803072457.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EziBuy20200803072457</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EziBuy20200803072457</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ezibuy.database.windows.net,1433;Initial Catalog=EziBuy;User ID=gurjeetadmin@ezibuy;Password=Rakeshgugu1@" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EziBuy.Models.UserDbContext, EziBuy" MigrationConfiguration="EziBuy.Migrations.Configuration, EziBuy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UserDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ezibuy.database.windows.net,1433;Initial Catalog=EziBuy;User ID=gurjeetadmin@ezibuy;Password=Rakeshgugu1@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>